<div class="wrapper container mt-1" *ngIf="contact$ | async as contact">
  <h2 class="row">{{ contact.firstName }} {{ contact.lastName }}</h2>
  <div class="row" *ngIf="contact.phone">
    <p class="d-inline-block">
      <i class="fa fa-phone align-middle"></i>
      {{ contact.phone }}
    </p>
  </div>

  <div class="row" *ngIf="contact.email">
    <p class="d-inline-block">
      <i class="fa fa-envelope align-middle"></i>
      {{ contact.email }}
    </p>
  </div>

  <div class="row" *ngIf="contact.address">
    <p class="d-inline-block">
      <i class="fa fa-map-marker align-middle"></i>
      {{ contact.address }}
    </p>
  </div>
</div>
