<div class="wrapper container">
  <h1 class="row">
    Contacts Book
    <button (click)="openAddContact()" name="addContact" ngbTooltip="Add contact">
      <i class="fa fa-plus-circle"></i>
    </button>
  </h1>

  <div class="row">
    <div class="col-md-6 col-xs-12 table-content">
      <div class="row font-weight-bold mt-1">
        <div class="col-6">
          First name
        </div>
        <div class="col-6">
          Last name
        </div>
      </div>

      <div *ngFor="let contact of contacts$ | async; trackBy: trackById" [ngClass]="highlighting(contact)">
        <div class="row" (click)="toggleSelectedContact(contact)">
          <div class="col-6">
            {{ contact.firstName }}
          </div>
          <div class="col-6">
            {{ contact.lastName }}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-12" *ngIf="selectedContactId">
      <app-contact-detail></app-contact-detail>
    </div>

  </div>
</div>
